body{
    background-color: blueviolet;
}
div{
    width: 300px;
height: 100px;
margin: auto;
border-radius: 12px;
background-color: antiquewhite;
margin: 15px auto;
text-align: center;
font-size: 23px;
}
a{text-decoration: none;
color: black;}