body{
background-color: darkred;
}
h1{
    text-align: center; color: inherit;
}
div{
    width: 500px;
    height: 600px;
    background-color: ivory;
    margin:auto ;
    border-radius: 15px;
    padding: 10px;

}
img{
    width: 120px;
}