body{background-color: brown;}
div{text-align: center;
    width: 250px;
    height: 120px;
    background-color: antiquewhite;
    border-radius: 12px;
    margin:20px auto;
}
#cubico{width: 500px;
    height: 600px;
    background-color:white;
    margin: 20px auto;
    border-radius: 20px;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
a{
    color: teal;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}



